<div class="collapsed-dropdown" (click)="toggleDropdown()">
    <p class="selected-option" [ngClass]="{'expanded': expandMenu}">
        {{ selectedOption?.key ? selectedOption.key : defaultTitle }}
    </p>
    <svg-icon [iconType]="dropdownArrowIcon" class="rotated"></svg-icon>
</div>
<div class="expanded-dropdown" *ngIf="expandMenu">
    <div class="selected-option-container">
        <ul class="results-list">
            <li class="result-item result-dropdown" [ngClass]="{'selected': result === selectedOption, 'highlighted': highlightedResult === idx }" *ngFor="let result of resultsList; index as idx" (click)="chooseOption(result)">
                {{ result.key }}
            </li>
        </ul>
    </div>
</div>
