@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
header {
  height: 100%;
  background: url('http://yea.com.pl/wp-content/uploads/2019/04/abstract-art-background-696644.jpg') center;
}
table {
  background: rgba(248, 243, 243, 0.6);
    width: 100%;
    position: relative;
    z-index: 10000;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
  #ex {
    position: relative;
    margin-top: 28%;
    z-index: 10021;
  }
  h1 {
    display: block;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
  }
  .btn {
    top: 0px;
    left:0px;
    position: absolute;
    border: 1px solid black;
    font-family: 'Allerta Stencil', sans-serif;
    background: rgba(248, 243, 243, 0.6);
  }

