<div class="header">
    <a routerLink="../calendar" class="myButton"><img class="icon" src="https://img.icons8.com/metro/20/000000/calendar-11.png">Calendar</a>
    <a routerLink="../register" class="myButton"><img src="https://img.icons8.com/android/20/000000/login-rounded.png">Register</a>
    <a routerLink="../editHotels" class="myButton"><img src="https://img.icons8.com/dusk/20/000000/edit-file.png">Ed-Hotels</a>
    <a routerLink="../editInviduals" class="myButton"><img src="https://img.icons8.com/dusk/20/000000/edit-file.png">Ed-Invidual</a>
    <a routerLink="" (click)="logOut()" class="myButton"><img src="https://img.icons8.com/ultraviolet/20/000000/shutdown.png">Logout</a>

    <!-- <button mat-button [matMenuTriggerFor]="menu" id="mobileMenu"><img src="https://img.icons8.com/ios/32/000000/menu-filled.png"></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><a routerLink="../calendar"  class="navButton">Calendar</a></button>
      <button mat-menu-item><a routerLink="../register" class="navButton">Register</a></button>
      <button mat-menu-item><a routerLink="../editHotels" class="navButton">Ed-Hotels</a></button>
      <button mat-menu-item><a routerLink="../editInviduals" class="navButton">Ed-Invidual</a></button>
      <button mat-menu-item><a routerLink="" (click)="logOut()" class="navButton">Logout</a></button>
    </mat-menu> -->
    <h3 id="breakTop">
        Edit Tours
        <button class="btn btn-primary pull-right" (click)="AddTour()">
    Add new
  </button>
        <div class="clearfix"></div>
    </h3>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nazwa wycieczki</th>
                    <th>Cena dla 1-4 osób(w zł)</th>
                    <th>Cena dla 5-8 osób(w zł)</th>
                    <th>Długość wycieczki(w min)</th>
                    <th>Prowizja 1-4 osób</th>
                    <th>Prowizja 4-8 osób</th>
                    <th>Delete</th>
                    <th>Update</th>
                    <th>Save</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let event of tours">
                    <td>
                        <input type="text" [(ngModel)]="event.Name" name="name" (change)="refresh.next()" #name />
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="event.Price" name="price" (change)="refresh.next()" #price />
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="event.PriceFrom5Persons" name="priceFrom5Persons" (change)="refresh.next()" #priceFrom5Persons />
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="event.Duration" name="duration" (change)="refresh.next()" #duration />
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="event.Commission" name="commission" (change)="refresh.next()" #commission />
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="event.CommissionFrom5Persons" name="commissionFrom5Persons" (change)="refresh.next()" #commissionFrom5Persons />
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="DeleteTour(event)" type="button">
            Delete
          </button>
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="UpdateTour(event)" type="button">
            Update
          </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="SubmitTour(event)" type="submit">
              Save
            </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <h3>
        Edit Transfers
        <button class="btn btn-primary pull-right" (click)="AddTransfer()">
    Add new
  </button>
        <div class="clearfix"></div>
    </h3>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nazwa transferu</th>
                    <th>Cena dla 1-4 osób(w zł)</th>
                    <th>Cena dla 5-8 osób(w zł)</th>
                    <th>Długość wycieczki(w min)</th>
                    <th>Prowizja 1-4 osób</th>
                    <th>Prowizja 4-8 osób</th>
                    <th>Delete</th>
                    <th>Update</th>
                    <th>Save</th>

                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let event of transfers">
                    <td>
                        <input type="text" [(ngModel)]="event.Name" name="name" (change)="refresh.next()" #name />
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="event.Price" name="price" (change)="refresh.next()" #price />
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="event.PriceFrom5Persons" name="priceFrom5Persons" (change)="refresh.next()" #priceFrom5Persons />
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="event.Duration" name="duration" (change)="refresh.next()" #duration />
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="event.Commission" name="commission" (change)="refresh.next()" #commission />
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="event.CommissionFrom5Persons" name="commissionFrom5Persons" (change)="refresh.next()" #commissionFrom5Persons />
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="DeleteTransfer(event)" type="button">
            Delete
          </button>
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="UpdateTransfer(event)" type="button">
            Update
          </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="SubmitTransfer(event)" type="submit">
              Save
            </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <h3>
        Delete Drivers
        <div class="clearfix"></div>
    </h3>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let event of hotels">
                    <td>
                        <input type="text" [(ngModel)]="event.name" name="hotelName" (change)="refresh.next()" #hotelName />
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="event.email" name="hotelName" (change)="refresh.next()" #hotelName />
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="DeleteUser(event)" type="button">
            Delete
          </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
