<app-header [activeNumber]="2"></app-header>
<section class="booking-container">
    <section class="booking">
        <h2>{{company}}</h2>
        <app-edit-form [formFields]="fields"></app-edit-form>
    </section>
    <section class="displayed-data">

    </section>
    <button class="btn">Submit</button>
</section>