#datePick{
    position: relative;
    left:100px;
    top:3px;
    input {
    }
}
 .myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color:#3d94f6;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin-right: 5px;
  }
  .myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
    background-color:#1e62d0;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  .btnTopABit{
    position: relative;
    top:-3px;
}
@media (max-width: 700px) {
  #datePick {
    left:0px;
  }
}
@media (max-width: 450px ) {
  #cdk-overlay-0 {
    top:5%;
  }
}

#mobileMenu{
	display: none;
}
@media (max-width: 900px) {
	.myButton{
		display:none;
	}
	#mobileMenu{
		display:flex;
		position: relative;
		justify-content: flex-end;

	}
	.navButton{
		display: flex;
		justify-content: center;
		position: relative;
		color: #000;
		font-family: Arial;
		font-weight: bold;
		padding: 10px;
		text-align: center;
		border-bottom: 1px solid black;
		min-width: 100%;
		text-transform: uppercase;
	}
	.mat-menu-ripple:first-child{
		padding-top: 0;
	}
	.mat-menu-ripple:last-child{
		padding-bottom: 0;
	}
		
	mat-menu button {
		width:100%;
	}
	.mat-menu-panel {
		background: #dcdcdc;
  }
  .mat-menu-item {
    line-height: 16px;
  }
}

