@import '../../shared/styles/variables';
@import '../../shared/styles/buttons';
@import '../../shared/styles/typhography';
.gallery-container {
    position: relative;
    margin-top: 10em;
    .navigation {
        padding: 10px 20px 0;
        @include flex(row, nowrap, space-between, center);
    }
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    background: url(../../shared/assets/background-login.jpg);
    background-size: cover;
    border-radius: 2%;
    height: 20em;
    overflow: hidden;
    .input-container {
        position: relative;
        margin-top: 5em;
        width: 40%;
        box-sizing: border-box;
        @include flex(row, nowrap, center, center);
    }
}

.search-form {
    position: relative;
    width: 100%;
    @include flex(row, nowrap, center, center);
}

.gallery {
    @include flex(column, nowrap, center, center);
}

.btn {
    @extend %btn-primary;
}

.input-container {
    &.error {
        input {
            border: 1px solid red;
        }
    }
}

@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
body {
    font-family: 'Muli', sans-serif;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry2.png");
}

h2 {
    font-family: 'Damion', cursive;
    font-weight: 400;
    color: #4caf50;
    font-size: 35px;
    text-align: center;
    position: relative;
}

h2:before {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    top: 22px;
    background: #4caf50;
    height: 1px;
}

h2 i {
    font-style: normal;
    background: #fff;
    position: relative;
    padding: 10px;
}

:focus {
    outline: none;
}

.choosing-container {
    @include flex(column,
    nowrap,
    center,
    center);
    padding-top: 4rem;
    .category label {
        @extend %title-small;
    }
}

.description-container {
    @include flex(row,
    nowrap,
    center,
    center);
}

.key {
    margin-bottom: 0;
}

.value {
    width: 70%;
    text-align: right;
}

form-dropdown ::ng-deep {
    .collapsed-dropdown .selected-option {
        width: 135px;
    }
}


/* necessary to give position: relative to parent. */

input {
    font: 15px/24px 'Muli', sans-serif;
    color: #333;
    width: 100%;
    height: 5em;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.date {
    height: 2em;
}

:focus {
    outline: none;
}

.display-data {
    @include flex(row,
    nowrap,
    center,
    center);
    border-radius: 2%;
    width: 40%;
    margin-left: 30%;
    background: #f5f8fd;
    background-size: cover;
}

.data-container {
    @include flex(column,
    nowrap,
    space-between,
    flex-start);
    border-radius: 2%;
    margin-top: 40px;
    width: 90%;
    position: relative;
}

.data {
    @include flex(row,
    nowrap,
    space-between,
    flex-start);
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}


/* necessary to give position: relative to parent. */

input {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.effect-21 {
    border: 1px solid #ccc;
    padding: 7px 14px;
    z-index: 1;
    transition: 0.4s;
    background: transparent;
}

.effect-21~.focus-border:before,
.effect-21~.focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: 0.2s;
    transition-delay: 0.2s;
}

.effect-21~.focus-border:after {
    top: auto;
    z-index: 1;
    bottom: 0;
    right: auto;
    left: 0;
    transition-delay: 0.6s;
}

.effect-21~.focus-border i:before,
.effect-21~.focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 2px;
    height: 0;
    background-color: #4caf50;
    transition: 0.2s;
}

.effect-21~.focus-border i:after {
    left: auto;
    right: 0;
    z-index: 1;
    top: auto;
    bottom: 0;
    transition-delay: 0.4s;
}

.effect-21:focus~.focus-border:before,
.effect-21:focus~.focus-border:after,
.has-content.effect-21~.focus-border:before,
.has-content.effect-21~.focus-border:after {
    width: 100%;
    z-index: 1;
    transition: 0.2s;
    transition-delay: 0.6s;
}

.effect-21:focus~.focus-border:after,
.has-content.effect-21~.focus-border:after {
    z-index: 1;
    transition-delay: 0.2s;
}

.effect-21:focus~.focus-border i:before,
.effect-21:focus~.focus-border i:after,
.has-content.effect-21~.focus-border i:before,
.has-content.effect-21~.focus-border i:after {
    height: 100%;
    z-index: 1;
    transition: 0.2s;
}

.effect-21:focus~.focus-border i:after,
.has-conten.effect-21~.focus-border i:after {
    z-index: 1;
    transition-delay: 0.4s;
}

.effect-21~label {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 26px;
    font-size: 18px;
    color: #aaa;
    z-index: 0;
    transition: 0.3s;
    letter-spacing: 0.5px;
}

.effect-21:focus~label,
.has-content.effect-21~label {
    top: -18px;
    left: 0;
    font-size: 12px;
    color: #4caf50;
    transition: 0.3s;
}
