<section class="login-container">

    <div class="login-content">
        <div class="form">
            <nav>
                <ul>
                    <li [ngClass]="{active: registerFormActive}" (click)="changeToRegister()"><span> New Account</span></li>
                    <li (click)="changeToLogin()" [ngClass]="{active: loginFormActive}"><span>Login</span></li>
                </ul>
            </nav>
            <div class="register-form" [ngClass]="{'none': !registerFormActive}" [formGroup]="registerForm">
                <div class="form-input">
                    <input autofocus type="email" email="true" placeholder="Email" formControlName="emailR">
                </div>
                <div class="role">
                    <input type="hidden" formControlName="roleR" />
                    <form-dropdown (inputValue)="changeValue($event)" [data]="userRoles" [defaultTitle]="'Choose option'"></form-dropdown>
                </div>
                <div class="form-input">
                    <input type="password" placeholder="Password" formControlName="passwordR">
                </div>
                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-register" (click)="onRegisterSubmit()"><span>Register</span > </button>
            </div>
            <div class="login-form" [ngClass]="{'none': !loginFormActive}" [formGroup]="loginForm">
                <div class="form-input" [ngClass]="{'error': isLoginError}">
                    <input autofocus type="email" email="true" placeholder="Email" formControlName="email">
                </div>
                <div class="form-input" [ngClass]="{'error': isLoginError}">
                    <input type="password" placeholder="Password" formControlName="password">
                </div>
                <div *ngIf="isLoginError" class="red-text center error-message">Error Incorrect email or password</div>
                <button type="submit" class="btn" [disabled]="loginForm.invalid" (click)="onLoginSubmit()"><span>login</span> </button>
            </div>

        </div>

    </div>
</section>
