@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../shared/styles/variables';
@import '../shared/styles/buttons';
.login-content {
    width: 35%;
    @include flex(column, nowrap, center, center);
    position: absolute;
    left: 34%;
    height: 80%;
    border-radius: 2%;
    top: 10%;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(143, 143, 143, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(143, 143, 143, 1);
    box-shadow: 0px 0px 25px 0px rgba(143, 143, 143, 1);
    background: url("../shared/assets/background-login.jpg") no-repeat;
    opacity: 0.7;
    background-size: cover;
    h1 {
        @extend %font-value;
        margin: -60px 0 30px;
    }
}

.red-text {
    color: $error;
}

.login-container {
    position: relative;
    width: 100%;
    z-index: 0;
    background: linear-gradient(135deg, #fff 0%, #f3f6f8 100%);
    overflow: hidden;
    height: 100vh;
    &::before {
        content: '';
        position: fixed;
        left: -22%;
        top: 60%;
        right: 0;
        width: 125%;
        height: 100%;
        background: linear-gradient(135deg, #f3f6f8 0%, #fff 100%);
        transform: rotate(15deg);
    }
}

.form-input {
    &.error {
        input {
            border: 1px solid red;
        }
    }
    input {
        &:first-child {
            margin-bottom: 20px;
        }
        padding: 8px 16px;
        &::placeholder {
            @extend %font-value;
        }
    }
}

.btn {
    @extend %btn-login;
}

.btn-register {
    &::after {
        width: 70%
    }
}

button {
    margin: 24px 0 0 100px;
    padding: 0;
    @extend %font-value;
}

ul {
    margin: 0;
    padding: 0;
    @include flex(row,
    nowrap,
    flex-start,
    center);
    li {
        position: relative;
        overflow: hidden;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 20px;
        &::before {
            transition: all 0.6s linear;
            content: "";
            background-color: $main-active-color;
            width: 100%;
            height: 3px;
            margin: auto;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            position: absolute;
            transform: translateX(-105%);
            opacity: 0;
        }
        &.active {
            &::before {
                transform: translateX(0%);
                opacity: 1;
            }
        }
        span {
            font-size: 20px;
            @extend %font-value;
        }
        list-style-type: none;
        &:first-child {
            margin-right: 20px;
        }
    }
}

.form {
    padding: 20px;
}

.role {
    margin-bottom: 20px;
    select {
        option {
            text-transform: capitalize;
            @extend %font-value;
        }
    }
}

.none {
    display: none;
}
