@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '../shared/styles/variables';
h3 {
    margin: 0 0 10px;
}

.header {
    position: relative;
}

.calendar {
    position: relative;
    top: 10px;
    padding-left: 110px;
    width: 95%;
    transition: $transition-300;
    &.collaped {
        padding-left: 210px;
    }
}

.modal-body,
.modal-header,
.modal-footer {
    background-color: hsl(0, 0%, 91%);
}

.jsonShow {
    display: flex;
    background-color: hsl(0, 0%, 93%);
    margin-bottom: -20px;
    padding-top: 5px;
    padding-left: 5px;
    -webkit-box-shadow: 12px 3px 32px -1px rgba(204, 204, 204, 1);
    -moz-box-shadow: 12px 3px 32px -1px rgba(204, 204, 204, 1);
    box-shadow: 12px 3px 32px -1px rgba(204, 204, 204, 1);
    p {
        position: relative;
        top: 4px;
        left: 5px;
        font-size: 120%;
    }
}

.fas,
.far {
    position: relative;
    top: 8px;
}

$textColor: rgb(14,
4,
100);
$color2: #F8A93F;
mwl-calendar-week-view ::ng-deep {
    .cal-week-view .cal-day-headers {
        border: 1px solid transparent;
    }
    .cal-week-view {
        background: rgba(216, 216, 216, 0.2);
        border-radius: 1%;
        background-size: cover;
    }
    .cal-week-view .cal-hour-odd {
        background: rgba(0, 206, 209, 0.04);
    }
    .cal-week-view .cal-hour:not(:last-child) .cal-hour-segment,
    .cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
        border: none;
    }
    .cal-week-view .cal-day-column {
        border-left: 1px solid rgba(18, 20, 99, 0.31);
    }
    .cal-week-view .cal-day-headers .cal-header:not(:last-child) {
        border-right: 1px solid rgba(18, 20, 99, 0.31);
    }
    .cal-week-view .cal-day-headers .cal-header:first-child {
        border-left: 1px solid rgba(18, 20, 99, 0.31);
    }
    .cal-week-view .cal-time-events .cal-day-columns:not(.cal-resize-active) .cal-hour-segment:hover {
        background: $main-active-color;
    }
    .cal-week-view .cal-header.cal-today {
        background-color: $main-active-color;
    }
}

mwl-calendar-day-view ::ng-deep {
    .cal-day-view {
        background: rgba(216, 216, 216, 0.2);
        border-radius: 1%;
        background-size: cover;
    }
    .cal-day-view .cal-hour:nth-child(odd) {
        background: rgba(0, 206, 209, 0.04);
    }
}

mwl-calendar-month-view ::ng-deep {
    .cal-month-view .cal-open-day-events {
        color: #fff;
        background-color: currentColor;
    }
    .cal-month-view .cal-day-cell.cal-today {
        background: $main-active-color;
    }
}

.btn-primary {
    cursor: pointer;
    background: $main-active-color;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background: $main-active-color-hover;
}
