.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  header{
    position: absolute;
    width: 100%;
      background: url('http://yea.com.pl/wp-content/uploads/2019/04/background-cement-concrete-242236.jpg') center no-repeat;
      height: 100vh;
  }
  input:-webkit-autofill {
    background-color: transparent !important;
  }
  #inputId:-webkit-autofill {
    background-color: transparent !important;
  }
  input:-webkit-autofill {
    color: transparent !important; 
  }
  form {
      margin-left: 30%;
      margin-right:30%;
      margin-top:100px;
  }
  mat-icon{
    cursor: pointer;
  }
  @media only screen and (max-width: 850px) {
    form {
      margin-left: 10%;
      margin-right:10%;
  }
  }
 