<ng-container [ngSwitch]="iconType">
    <svg *ngSwitchCase="iconEnum.DASHBOARD" xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23">
    <g>
      <g>
        <path fill="#706b6b"
          d="M6 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5zm1 5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5zM6 4v3a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V4h1.8A3.2 3.2 0 0 1 19 7.2v11.6a3.2 3.2 0 0 1-3.2 3.2H4.2A3.2 3.2 0 0 1 1 18.8V7.2A3.2 3.2 0 0 1 4.2 4zM0 7.2v11.6A4.2 4.2 0 0 0 4.2 23h11.6a4.2 4.2 0 0 0 4.2-4.2V7.2A4.2 4.2 0 0 0 15.8 3H14V2a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v1H4.2A4.2 4.2 0 0 0 0 7.2z" />
      </g>
    </g>
  </svg>
    <svg *ngSwitchCase="iconEnum.PERSON" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
    <g>
      <path
        d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587   C104.535,132.855,136.084,171.173,175,171.173z" />
      <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z" />
      <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z" />
      <path
        d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761   s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131   c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496   c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z" />
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
  </svg>
    <svg *ngSwitchCase="iconEnum.DROPDOWNARROW" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="255px" height="255px" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;"
        xml:space="preserve">
    <g>
      <g id="arrow-drop-down">
        <polygon points="0,63.75 127.5,191.25 255,63.75   " />
      </g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
  </svg>
    <svg *ngSwitchCase="iconEnum.MENU" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
    <g>
      <g id="_x33__6_">
        <g>
          <path
            d="M581.4,520.199H30.6c-16.891,0-30.6,13.709-30.6,30.6C0,567.691,13.709,581.4,30.6,581.4h550.8     c16.891,0,30.6-13.709,30.6-30.602C612,533.908,598.291,520.199,581.4,520.199z M30.6,91.799h550.8     c16.891,0,30.6-13.708,30.6-30.6c0-16.892-13.709-30.6-30.6-30.6H30.6C13.709,30.6,0,44.308,0,61.2     C0,78.091,13.709,91.799,30.6,91.799z M581.4,275.399H30.6C13.709,275.399,0,289.108,0,306s13.709,30.6,30.6,30.6h550.8     c16.891,0,30.6-13.709,30.6-30.6S598.291,275.399,581.4,275.399z" />
        </g>
      </g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
  </svg>
    <svg *ngSwitchCase="iconEnum.CALENDAR" xmlns="http://www.w3.org/2000/svg" height="480pt" viewBox="0 0 480 480" width="480pt">
    <path
      d="m399.832031 54.398438c-.0625-.277344-.230469-.496094-.3125-.757813-.136719-.449219-.316406-.882813-.535156-1.296875-.25-.476562-.550781-.921875-.894531-1.335938-.277344-.34375-.582032-.664062-.914063-.960937-.402343-.339844-.84375-.632813-1.3125-.878906-.394531-.238281-.8125-.441407-1.246093-.609375-.519532-.164063-1.058594-.273438-1.601563-.328125-.332031-.097657-.671875-.175781-1.015625-.230469h-40.335938c-2.0625-27.847656-14.984374-48-31.664062-48s-29.601562 20.152344-31.664062 48h-16.671876c-2.0625-27.847656-14.984374-48-31.664062-48s-29.601562 20.152344-31.664062 48h-16.671876c-2.0625-27.847656-14.984374-48-31.664062-48s-29.601562 20.152344-31.664062 48h-16.671876c-2.0625-27.847656-14.984374-48-31.664062-48s-29.601562 20.152344-31.664062 48h-40.335938c-4.417969 0-8 3.582031-8 8v416c0 4.417969 3.582031 8 8 8h384c4.417969 0 8-3.582031 8-8v-24h72c2.402344 0 4.675781-1.082031 6.191406-2.941406 1.519532-1.863282 2.121094-4.304688 1.640625-6.660156zm-79.832031-38.398438c5.777344 0 13.839844 12.257812 15.617188 32h-31.203126c1.746094-19.742188 9.808594-32 15.585938-32zm-80 0c5.777344 0 13.839844 12.257812 15.617188 32h-31.203126c1.746094-19.742188 9.808594-32 15.585938-32zm-80 0c5.777344 0 13.839844 12.257812 15.617188 32h-31.203126c1.746094-19.742188 9.808594-32 15.585938-32zm-80 0c5.777344 0 13.839844 12.257812 15.617188 32h-31.203126c1.746094-19.742188 9.808594-32 15.585938-32zm-64 48h32.335938c2.0625 27.847656 14.984374 48 31.664062 48 4.417969 0 8-3.582031 8-8s-3.582031-8-8-8c-5.777344 0-13.839844-12.257812-15.617188-32h63.953126c2.089843 27.847656 14.984374 48 31.664062 48 4.417969 0 8-3.582031 8-8s-3.582031-8-8-8c-5.777344 0-13.839844-12.257812-15.617188-32h63.953126c2.089843 27.847656 14.984374 48 31.664062 48 4.417969 0 8-3.582031 8-8s-3.582031-8-8-8c-5.777344 0-13.839844-12.257812-15.617188-32h63.953126c2.089843 27.847656 14.984374 48 31.664062 48 4.417969 0 8-3.582031 8-8s-3.582031-8-8-8c-5.777344 0-13.839844-12.257812-15.617188-32h79.617188v80h-368zm368 400h-368v-304h368zm16-32v-298.398438l62.167969 298.398438zm0 0" />
    <path
      d="m176 288h-32c-4.417969 0-8 3.582031-8 8v32c0 4.417969 3.582031 8 8 8h32c4.417969 0 8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8zm-8 32h-16v-16h16zm0 0" />
    <path
      d="m256 288h-32c-4.417969 0-8 3.582031-8 8v32c0 4.417969 3.582031 8 8 8h32c4.417969 0 8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8zm-8 32h-16v-16h16zm0 0" />
    <path
      d="m96 288h-32c-4.417969 0-8 3.582031-8 8v32c0 4.417969 3.582031 8 8 8h32c4.417969 0 8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8zm-8 32h-16v-16h16zm0 0" />
    <path
      d="m176 368h-32c-4.417969 0-8 3.582031-8 8v32c0 4.417969 3.582031 8 8 8h32c4.417969 0 8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8zm-8 32h-16v-16h16zm0 0" />
    <path
      d="m256 368h-32c-4.417969 0-8 3.582031-8 8v32c0 4.417969 3.582031 8 8 8h32c4.417969 0 8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8zm-8 32h-16v-16h16zm0 0" />
    <path
      d="m96 368h-32c-4.417969 0-8 3.582031-8 8v32c0 4.417969 3.582031 8 8 8h32c4.417969 0 8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8zm-8 32h-16v-16h16zm0 0" />
    <path
      d="m176 208h-32c-4.417969 0-8 3.582031-8 8v32c0 4.417969 3.582031 8 8 8h32c4.417969 0 8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8zm-8 32h-16v-16h16zm0 0" />
    <path
      d="m256 208h-32c-4.417969 0-8 3.582031-8 8v32c0 4.417969 3.582031 8 8 8h32c4.417969 0 8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8zm-8 32h-16v-16h16zm0 0" />
    <path
      d="m336 288h-32c-4.417969 0-8 3.582031-8 8v32c0 4.417969 3.582031 8 8 8h32c4.417969 0 8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8zm-8 32h-16v-16h16zm0 0" />
    <path
      d="m336 368h-32c-4.417969 0-8 3.582031-8 8v32c0 4.417969 3.582031 8 8 8h32c4.417969 0 8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8zm-8 32h-16v-16h16zm0 0" />
    <path
      d="m336 208h-32c-4.417969 0-8 3.582031-8 8v32c0 4.417969 3.582031 8 8 8h32c4.417969 0 8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8zm-8 32h-16v-16h16zm0 0" />
    <path
      d="m96 208h-32c-4.417969 0-8 3.582031-8 8v32c0 4.417969 3.582031 8 8 8h32c4.417969 0 8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8zm-8 32h-16v-16h16zm0 0" />
    </svg>
    <svg *ngSwitchCase="iconEnum.RIDE" xmlns="http://www.w3.org/2000/svg" height="512pt" viewBox="0 -128 512 512" width="512pt">
    <path
      d="m488.476562 94.539062h-70.671874l-58.816407-41.601562c-8.15625-5.769531-17.75-8.820312-27.742187-8.820312h-3.035156v-25.023438c0-10.527344-8.5625-19.09375-19.09375-19.09375h-58.410157c-10.53125 0-19.097656 8.566406-19.097656 19.09375v25.023438h-5.164063c-10.800781 0-21.40625 3.695312-29.867187 10.40625l-50.421875 40.015624h-15.402344c-10.363281 0-20.691406 1.359376-30.699218 4.039063l-74.578126 19.980469c-15 3.964844-25.476562 17.574218-25.476562 33.089844v51.847656c0 10.476562 8.519531 18.996094 18.996094 18.996094h50.878906c4.558594 19.476562 22.058594 34.027343 42.90625 34.027343 20.84375 0 38.34375-14.550781 42.90625-34.027343h149.21875c4.132812 0 7.484375-3.351563 7.484375-7.484376 0-4.132812-3.351563-7.484374-7.484375-7.484374h-148.332031c-2.457031-21.992188-21.15625-39.152344-43.792969-39.152344-22.640625 0-41.339844 17.160156-43.792969 39.152344h-49.992187c-2.21875 0-4.023438-1.804688-4.023438-4.027344v-29.46875c2.867188 4.597656 8.039063 7.878906 15.007813 7.878906 3.785156 0 8.101562-.96875 12.863281-3.214844 13.886719-6.550781 21.046875-18.511718 16.65625-27.820312s-18.179688-11.386719-32.066406-4.835938c-5.785156 2.730469-9.960938 6.242188-12.460938 10.425782v-4.808594c0-8.730469 5.894532-16.386719 14.359375-18.628906l74.601563-19.980469c8.742187-2.34375 17.765625-3.53125 26.824218-3.53125h57.042969c4.132813 0 7.484375-3.351563 7.484375-7.484375 0-4.136719-3.351562-7.488282-7.484375-7.488282h-17.558593l35.644531-28.285156c5.824219-4.621094 13.125-7.167968 20.558593-7.167968h42.769532v35.453124h-45.820313c-4.132812 0-7.484375 3.351563-7.484375 7.484376 0 4.136718 3.351563 7.488281 7.484375 7.488281h265.082031c4.714844 0 8.550782 3.835937 8.550782 8.550781v3.558594h-26.714844c-12.234375 0-22.1875 9.957031-22.1875 22.191406s9.953125 22.191406 22.1875 22.191406h26.714844v37.492188c0 2.222656-1.804688 4.027344-4.023438 4.027344h-54.335937c-2.457031-21.996094-21.15625-39.152344-43.792969-39.152344s-41.335938 17.15625-43.792969 39.152344h-11.578125c-4.136718 0-7.484375 3.347656-7.484375 7.484374 0 4.132813 3.347657 7.484376 7.484375 7.484376h12.46875c4.558594 19.476562 22.058594 34.027343 42.902344 34.027343 20.847656 0 38.347656-14.550781 42.90625-34.027343h55.222656c10.476563 0 18.996094-8.519532 18.996094-18.996094v-85.433594c0-12.96875-10.550781-23.523438-23.523438-23.523438zm-241.894531-75.445312c0-2.273438 1.851563-4.121094 4.125-4.121094h58.410157c2.273437 0 4.125 1.847656 4.125 4.121094v24.789062h-66.660157zm-133.800781 164.25c16.046875 0 29.101562 13.054688 29.101562 29.101562 0 16.046876-13.054687 29.105469-29.101562 29.105469s-29.105469-13.058593-29.105469-29.105469c0-16.046874 13.054688-29.101562 29.105469-29.101562zm-85.070312-19.054688c.402343-.742187 1.808593-2.683593 6.109374-4.714843 3.875-1.828125 7.222657-2.386719 9.503907-2.386719.957031 0 1.726562.097656 2.265625.242188-.785156 1.722656-3.640625 5.128906-9.136719 7.722656-4.382813 2.070312-8.117187 2.398437-8.882813.78125-.183593-.394532-.3125-.816406.140626-1.644532zm256.476562-105.203124h47.058594c6.878906 0 13.480468 2.101562 19.097656 6.074218l41.535156 29.378906h-107.691406zm110.6875 182.464843c-16.046875 0-29.101562-13.058593-29.101562-29.105469 0-16.046874 13.054687-29.105468 29.101562-29.105468s29.105469 13.058594 29.105469 29.105468c0 16.046876-13.054688 29.105469-29.105469 29.105469zm75.4375-90.519531c-3.976562 0-7.214844-3.238281-7.214844-7.21875s3.238282-7.21875 7.214844-7.21875h26.714844v14.4375zm0 0" />
    <path
      d="m122.640625 212.445312c0 5.445313-4.414063 9.859376-9.859375 9.859376-5.449219 0-9.863281-4.414063-9.863281-9.859376 0-5.445312 4.414062-9.859374 9.863281-9.859374 5.445312 0 9.859375 4.414062 9.859375 9.859374zm0 0" />
    <path
      d="m404.738281 212.445312c0 5.445313-4.414062 9.859376-9.859375 9.859376-5.449218 0-9.863281-4.414063-9.863281-9.859376 0-5.445312 4.414063-9.859374 9.863281-9.859374 5.445313 0 9.859375 4.414062 9.859375 9.859374zm0 0" />
    <path
      d="m261.347656 178.257812h-19.019531c-1.65625 0-3-1.34375-3-3v-22.023437h25.019531v22.023437c0 1.65625-1.339844 3-3 3zm0 0" />
    <path
      d="m311.390625 178.257812h-19.019531c-1.65625 0-3-1.34375-3-3v-22.023437h25.019531v22.023437c0 1.65625-1.339844 3-3 3zm0 0" />
    <path
      d="m239.328125 153.234375h-22.023437c-1.65625 0-3-1.34375-3-3v-19.019531c0-1.660156 1.34375-3 3-3h19.023437c1.65625 0 3 1.339844 3 3zm0 0" />
    <path
      d="m289.371094 153.234375h-25.023438v-22.019531c0-1.660156 1.34375-3 3-3h19.023438c1.65625 0 3 1.339844 3 3zm0 0" />
    <path
      d="m336.414062 153.234375h-22.023437v-22.019531c0-1.660156 1.34375-3 3-3h19.023437c1.65625 0 3 1.339844 3 3v19.019531c0 1.65625-1.34375 3-3 3zm0 0" />
    </svg>
    <svg *ngSwitchCase="iconEnum.REPORTS" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
    <g>
      <g>
        <path
          d="M472,336c0.057-61.798-49.993-111.943-111.792-112c-0.069,0-0.139,0-0.208,0c-5.357,0.038-10.705,0.466-16,1.28V40    c0-4.418-3.582-8-8-8h-96V16c0-8.837-7.163-16-16-16h-96c-8.837,0-16,7.163-16,16v16H16c-4.418,0-8,3.582-8,8v432    c0,4.418,3.582,8,8,8h320c4.418,0,8-3.582,8-8v-25.28c47.793,7.345,94.814-17.221,116.08-60.648    C467.927,370.548,472.01,353.395,472,336L472,336z M448.194,298.019c0.258,0.598,0.509,1.198,0.754,1.801l-85.004,26.58    l-41.904-78.552C370.731,226.866,427.212,249.328,448.194,298.019z M128,16h96v48h-96V16z M328,464H24V48h88v16    c0,8.837,7.163,16,16,16h96c8.837,0,16-7.163,16-16V48h88v180.888c-7.164,2.063-14.1,4.845-20.704,8.304    c-54.562,29.083-75.217,96.891-46.134,151.453c14.08,26.414,38.151,46.09,66.838,54.634V464z M360,432L360,432    c-53.019-0.016-95.987-43.009-95.971-96.029c0.01-32.576,16.538-62.924,43.899-80.603l45.016,84.4l0.056,0.08    c0.128,0.232,0.312,0.416,0.456,0.632c0.262,0.411,0.559,0.799,0.888,1.16l0.104,0.112c0.179,0.147,0.366,0.283,0.56,0.408    c0.372,0.303,0.771,0.571,1.192,0.8c0.08,0.04,0.136,0.112,0.224,0.16l85.488,42.744C424.607,414.562,393.512,432.076,360,432z     M449.08,371.6l-67.752-33.88l10.856-3.4l61.528-19.2c1.522,6.856,2.289,13.857,2.288,20.88    C456.013,348.202,453.663,360.291,449.08,371.6z" />
      </g>
    </g>
    <g>
      <g>
        <path
          d="M154.48,120.736c-21.624-27.87-61.748-32.933-89.618-11.309c-4.917,3.815-9.25,8.329-12.862,13.397l6.504,4.656    l-6.512-4.656c-20.563,28.711-13.957,68.656,14.755,89.219C77.61,219.823,90.638,224.004,104,224c35.33-0.04,63.96-28.67,64-64    C168.033,145.765,163.271,131.933,154.48,120.736z M112,112.744c9.114,1.538,17.58,5.709,24.352,12l-12.92,10.048    c-3.384-2.654-7.274-4.589-11.432-5.688V112.744z M103.846,144.007c4.981-0.023,9.686,2.287,12.714,6.241    c2.207,2.773,3.418,6.208,3.44,9.752c0,8.837-7.163,16-16,16s-16-7.163-16-16C87.959,151.208,95.054,144.047,103.846,144.007z     M96,112.8v16.296c-4.592,1.203-8.86,3.411-12.496,6.464l-13.256-9.464C77.262,119.123,86.254,114.48,96,112.8z M95.721,207.003    C72.858,203,56.134,183.211,56,160c0.003-7.269,1.675-14.44,4.888-20.96l13.344,9.528C72.783,152.207,72.026,156.084,72,160    c-0.022,17.638,14.258,31.954,31.896,31.976c14.587,0.018,27.332-9.849,30.968-23.976h16.416    C146.708,194.112,121.834,211.575,95.721,207.003z M134.856,152c-0.411-1.576-0.946-3.117-1.6-4.608l13.008-10.112    c2.494,4.591,4.205,9.566,5.064,14.72H134.856z" />
      </g>
    </g>
    <g>
      <g>
        <rect x="200" y="104" width="104" height="16" />
      </g>
    </g>
    <g>
      <g>
        <rect x="200" y="136" width="104" height="16" />
      </g>
    </g>
    <g>
      <g>
        <rect x="200" y="168" width="104" height="16" />
      </g>
    </g>
    <g>
      <g>
        <rect x="200" y="200" width="56" height="16" />
      </g>
    </g>
    <g>
      <g>
        <path
          d="M72,392H48c-4.418,0-8,3.582-8,8v40c0,4.418,3.582,8,8,8h24c4.418,0,8-3.582,8-8v-40C80,395.582,76.418,392,72,392z     M64,432h-8v-24h8V432z" />
      </g>
    </g>
    <g>
      <g>
        <path
          d="M120,360H96c-4.418,0-8,3.582-8,8v72c0,4.418,3.582,8,8,8h24c4.418,0,8-3.582,8-8v-72C128,363.582,124.418,360,120,360z     M112,432h-8v-56h8V432z" />
      </g>
    </g>
    <g>
      <g>
        <path
          d="M168,320h-24c-4.418,0-8,3.582-8,8v112c0,4.418,3.582,8,8,8h24c4.418,0,8-3.582,8-8V328C176,323.582,172.418,320,168,320z     M160,432h-8v-96h8V432z" />
      </g>
    </g>
    <g>
      <g>
        <path
          d="M216,280h-24c-4.418,0-8,3.582-8,8v152c0,4.418,3.582,8,8,8h24c4.418,0,8-3.582,8-8V288C224,283.582,220.418,280,216,280z     M208,432h-8V296h8V432z" />
      </g>
    </g>
    <g>
      <g>
        <rect x="40" y="240" width="64" height="16" />
      </g>
    </g>
    <g>
      <g>
        <rect x="40" y="264" width="64" height="16" />
      </g>
    </g>
    <g>
      <g>
        <rect x="40" y="288" width="32" height="16" />
      </g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
  </svg>
    <svg *ngSwitchCase="iconEnum.MAIN" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 26.39 26.39" style="enable-background:new 0 0 26.39 26.39;" xml:space="preserve">
    <g>
      <g id="c14_house">
        <path
          d="M3.588,24.297c0,0-0.024,0.59,0.553,0.59c0.718,0,6.652-0.008,6.652-0.008l0.01-5.451c0,0-0.094-0.898,0.777-0.898h2.761    c1.031,0,0.968,0.898,0.968,0.898l-0.012,5.434c0,0,5.628,0,6.512,0c0.732,0,0.699-0.734,0.699-0.734V14.076L13.33,5.913    l-9.742,8.164C3.588,14.077,3.588,24.297,3.588,24.297z" />
        <path
          d="M0,13.317c0,0,0.826,1.524,2.631,0l10.781-9.121l10.107,9.064c2.088,1.506,2.871,0,2.871,0L13.412,1.504L0,13.317z" />
        <polygon points="23.273,4.175 20.674,4.175 20.685,7.328 23.273,9.525   " />
      </g>
      <g id="Capa_1_216_">
      </g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
  </svg>
    <svg *ngSwitchCase="iconEnum.DIVIDER" xmlns="http://www.w3.org/2000/svg" version="1.0" width="1280.000000pt" height="640.000000pt" viewBox="0 0 1280.000000 640.000000" preserveAspectRatio="xMidYMid meet">
    <g transform="translate(0.000000,640.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
      <path
        d="M6354 3698 c-93 -66 -129 -208 -84 -334 20 -59 67 -128 109 -159 l24 -19 53 56 c129 139 124 364 -11 456 -39 28 -53 27 -91 0z m90 -19 c14 -11 38 -42 54 -67 24 -41 27 -57 27 -132 0 -72 -4 -93 -27 -140 -15 -30 -43 -71 -63 -90 l-35 -34 -35 34 c-20 19 -48 60 -63 90 -23 47 -27 68 -27 140 0 75 3 91 27 132 31 51 71 88 98 88 10 0 29 -9 44 -21z" />
      <path
        d="M4939 3411 c-113 -22 -229 -116 -282 -229 -30 -62 -32 -75 -32 -172 0 -92 3 -112 26 -160 36 -77 71 -115 137 -147 49 -24 69 -28 142 -28 107 0 164 21 218 79 67 73 79 158 36 245 -36 71 -86 104 -168 109 -49 3 -70 -1 -106 -20 -53 -27 -84 -74 -74 -113 l7 -26 28 34 c36 44 108 63 172 46 110 -30 152 -177 74 -265 -49 -57 -100 -78 -188 -78 -67 -1 -81 3 -125 29 -91 57 -141 181 -132 327 14 208 205 360 411 327 127 -21 230 -71 426 -208 207 -145 349 -220 531 -279 269 -88 452 -88 720 0 183 60 325 135 531 279 196 137 299 187 426 208 206 33 397 -119 411 -327 9 -146 -41 -270 -132 -327 -44 -26 -58 -30 -125 -29 -88 0 -139 21 -188 78 -78 88 -36 235 74 265 64 17 136 -2 172 -46 l28 -34 7 26 c10 39 -21 86 -74 113 -36 19 -57 23 -106 20 -82 -5 -132 -38 -168 -109 -43 -87 -31 -172 36 -245 54 -58 111 -79 218 -79 140 0 221 51 279 175 23 48 26 68 26 160 0 97 -2 110 -32 172 -40 86 -110 156 -194 196 -176 84 -376 33 -646 -165 -277 -203 -488 -305 -738 -358 -202 -42 -425 -2 -690 124 -135 65 -208 110 -378 234 -226 165 -403 228 -558 198z" />
      <path
        d="M5801 3369 c-24 -5 -45 -10 -47 -12 -2 -2 20 -20 50 -41 63 -43 125 -108 214 -223 107 -138 219 -196 382 -196 170 0 272 56 399 217 86 110 143 167 211 212 41 27 41 28 18 37 -40 15 -181 20 -242 8 -78 -14 -124 -38 -221 -112 -44 -33 -99 -70 -122 -82 l-43 -21 -42 21 c-24 12 -79 49 -123 82 -44 34 -98 70 -120 81 -77 37 -210 50 -314 29z m162 -9 c87 -14 152 -49 251 -134 49 -43 111 -88 137 -102 l49 -24 49 24 c26 14 88 59 137 102 99 85 164 120 251 135 52 8 156 4 176 -8 5 -3 -15 -21 -45 -41 -29 -19 -109 -93 -178 -163 -69 -69 -143 -136 -165 -147 -143 -72 -307 -72 -450 0 -22 11 -96 78 -165 147 -69 70 -149 144 -179 164 -56 37 -56 42 4 50 55 7 70 7 128 -3z" />
      <path
        d="M4444 3070 c-49 -20 -66 -77 -39 -129 29 -56 125 -58 154 -3 42 79 -33 165 -115 132z m66 -48 c18 -14 21 -25 16 -45 -8 -35 -49 -46 -76 -22 -25 23 -25 40 0 65 25 25 32 25 60 2z" />
      <path
        d="M8262 3055 c-54 -45 -42 -124 23 -151 62 -26 125 20 125 90 0 36 -39 76 -81 82 -28 5 -41 1 -67 -21z m88 -35 c25 -25 25 -42 0 -65 -27 -24 -68 -13 -76 22 -5 20 -2 31 16 45 28 23 35 23 60 -2z" />
      <path
        d="M16 3017 c-24 -18 -17 -48 14 -64 20 -10 453 -12 2148 -10 2089 2 2124 2 2138 21 18 25 18 31 -2 50 -14 14 -223 16 -2148 16 -1747 0 -2135 -2 -2150 -13z" />
      <path
        d="M8486 3014 c-20 -19 -20 -25 -2 -50 14 -19 49 -19 2138 -21 2246 -3 2168 -4 2176 42 10 47 103 45 -2164 45 -1925 0 -2134 -2 -2148 -16z" />
      <path
        d="M5492 2948 c-52 -19 -142 -93 -142 -116 0 -6 11 -24 24 -39 23 -27 28 -28 113 -27 75 0 107 7 218 42 72 23 155 45 185 48 88 10 91 18 19 52 -137 65 -310 82 -417 40z m368 -43 l55 -18 -80 -12 c-44 -7 -127 -24 -185 -40 -111 -28 -213 -36 -232 -17 -22 22 39 69 127 99 55 18 243 11 315 -12z" />
      <path
        d="M7004 2951 c-34 -10 -88 -30 -119 -46 -65 -31 -61 -39 25 -49 30 -3 114 -25 185 -48 111 -35 143 -42 218 -42 85 -1 90 0 113 27 13 15 24 33 24 39 0 24 -90 97 -144 117 -72 27 -212 28 -302 2z m293 -50 c62 -28 102 -66 85 -83 -20 -20 -122 -11 -248 21 -66 17 -149 34 -183 37 -43 5 -58 10 -48 16 77 43 305 48 394 9z" />
    </g>
  </svg>
    <svg *ngSwitchCase="iconEnum.STAR" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 51.297 51.297" style="enable-background:new 0 0 51.297 51.297;" xml:space="preserve">
    <g>
      <g>
        <path style="fill:#010002;"
          d="M48.096,26.954c-0.247-0.494-0.247-1.295,0-1.789l3.106-6.211c0.247-0.494-0.001-0.894-0.553-0.894    h-8.237c-2.917-6.538-9.467-11.113-17.076-11.113c-7.61,0-14.16,4.575-17.077,11.113h-7.61c-0.552,0-0.8,0.4-0.553,0.895    l3.106,6.211c0.247,0.494,0.247,1.294,0,1.789l-3.106,6.211c-0.247,0.494,0.001,0.894,0.553,0.894h8.008    c3.086,6.094,9.395,10.29,16.679,10.29s13.594-4.196,16.68-10.29h8.633c0.552,0,0.8-0.4,0.553-0.895L48.096,26.954z     M25.336,43.274c-6.688,0-12.505-3.725-15.492-9.214c-1.36-2.5-2.133-5.365-2.133-8.411c0-2.721,0.635-5.288,1.736-7.589    c2.838-5.93,8.876-10.036,15.889-10.036S38.387,12.13,41.225,18.06c1.101,2.301,1.736,4.868,1.736,7.589    c0,3.046-0.773,5.911-2.133,8.411C37.842,39.549,32.024,43.274,25.336,43.274z" />
        <path style="fill:#010002;"
          d="M25.337,10.849c-5.396,0-10.103,2.897-12.689,7.211c-1.331,2.221-2.111,4.811-2.111,7.589    c0,3.126,0.975,6.022,2.629,8.411c2.671,3.858,7.123,6.389,12.171,6.389s9.499-2.531,12.171-6.389    c1.654-2.389,2.629-5.285,2.629-8.411c0-2.778-0.779-5.368-2.111-7.589C35.44,13.746,30.733,10.849,25.337,10.849z M31.265,34.123    c0.171,0.525-0.053,0.688-0.5,0.363l-0.586-0.426l-4.178-3.035c-0.447-0.325-1.171-0.325-1.618,0l-4.178,3.035l-0.586,0.426    c-0.447,0.325-0.671,0.162-0.5-0.363l0.02-0.063l1.799-5.537c0.171-0.525-0.053-1.214-0.5-1.539l-4.764-3.461    c-0.447-0.325-0.361-0.588,0.191-0.588h5.888c0.552,0,1.138-0.426,1.309-0.951l1.276-3.924l0.544-1.676    c0.173-0.525,0.449-0.525,0.62,0l0.544,1.676l1.275,3.924c0.171,0.525,0.757,0.951,1.309,0.951h5.888    c0.552,0,0.638,0.263,0.191,0.588l-4.764,3.461c-0.447,0.325-0.671,1.014-0.5,1.539l1.8,5.537L31.265,34.123z" />
      </g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
  </svg>
    <svg *ngSwitchCase="iconEnum.QUALITYSTARS" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
    <path style="fill:#FFDC64;"
      d="M492.757,190.241l-160.969-14.929L267.847,26.833c-4.477-10.396-19.218-10.396-23.694,0  l-63.941,148.478L19.243,190.24c-11.271,1.045-15.826,15.064-7.322,22.534l121.452,106.694L97.828,477.174  c-2.489,11.042,9.436,19.707,19.169,13.927l139.001-82.537l139.002,82.537c9.732,5.78,21.659-2.885,19.17-13.927l-35.544-157.705  l121.452-106.694C508.583,205.305,504.029,191.286,492.757,190.241z" />
    <path style="fill:#FFC850;"
      d="M267.847,26.833c-4.477-10.396-19.218-10.396-23.694,0l-63.941,148.478L19.243,190.24  c-11.271,1.045-15.826,15.064-7.322,22.534l121.452,106.694L97.828,477.174c-2.489,11.042,9.436,19.707,19.169,13.927l31.024-18.422  c4.294-176.754,86.42-301.225,151.441-372.431L267.847,26.833z" />
    <path
      d="M510.967,196.781c-2.56-7.875-9.271-13.243-17.518-14.008l-156.535-14.518l-31.029-72.054  c-1.639-3.804-6.049-5.562-9.854-3.922c-3.804,1.638-5.56,6.05-3.922,9.853l32.791,76.144c1.086,2.521,3.463,4.248,6.196,4.501  l160.969,14.929c3.194,0.296,4.307,2.692,4.638,3.708c0.33,1.016,0.838,3.608-1.572,5.725L373.678,313.835  c-2.063,1.812-2.97,4.605-2.366,7.283l35.545,157.703c0.705,3.13-1.229,4.929-2.095,5.557c-0.864,0.628-3.17,1.915-5.931,0.274  l-139.003-82.537c-2.359-1.4-5.299-1.4-7.657,0l-139.003,82.537c-2.76,1.642-5.066,0.354-5.931-0.274  c-0.865-0.628-2.8-2.427-2.095-5.556l18.348-81.406c0.911-4.041-1.627-8.055-5.667-8.965c-4.047-0.91-8.054,1.627-8.965,5.667  l-18.348,81.407c-1.82,8.078,1.211,16.12,7.91,20.988c6.699,4.866,15.285,5.265,22.403,1.037l135.174-80.264l135.174,80.264  c3.28,1.947,6.87,2.913,10.443,2.913c4.185,0,8.347-1.325,11.96-3.95c6.7-4.868,9.73-12.909,7.91-20.989l-34.565-153.36  L505.029,218.41C511.251,212.944,513.525,204.657,510.967,196.781z" />
    <path
      d="M116.085,362.057c-0.911,4.041,1.627,8.055,5.667,8.965c0.556,0.125,1.11,0.186,1.656,0.186c3.43,0,6.524-2.367,7.309-5.853  l9.97-44.237c0.604-2.679-0.304-5.473-2.366-7.283L16.87,207.141c-2.41-2.117-1.902-4.709-1.571-5.725  c0.33-1.016,1.442-3.412,4.637-3.708l160.968-14.929c2.733-0.253,5.11-1.98,6.196-4.501L251.04,29.801  c1.269-2.946,3.891-3.265,4.959-3.265c1.069,0,3.691,0.318,4.96,3.264l17.367,40.327c1.64,3.804,6.05,5.561,9.854,3.922  c3.804-1.638,5.56-6.05,3.922-9.853l-17.367-40.328c-3.276-7.605-10.454-12.33-18.736-12.33c-8.28,0-15.459,4.725-18.735,12.331  l-62.18,144.388L18.551,182.773c-8.245,0.765-14.958,6.132-17.518,14.008c-2.559,7.875-0.284,16.163,5.938,21.629l118.106,103.755  L116.085,362.057z" />
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
  </svg>
    <svg *ngSwitchCase="iconEnum.ROAD" xmlns="http://www.w3.org/2000/svg" height="512pt" viewBox="0 -2 512 512" width="512pt">
    <path
      d="m448.527344 507.769531c-2.257813 0-4.425782-.898437-6.015625-2.515625-5.449219-5.5-53.222657-54.734375-53.222657-87.191406 0-34.535156 26.574219-62.625 59.238282-62.625 32.667968 0 59.242187 28.089844 59.242187 62.625 0 32.457031-47.773437 81.683594-53.222656 87.191406-1.59375 1.617188-3.757813 2.515625-6.019531 2.515625zm0-135.40625c-23.332032 0-42.3125 20.503907-42.3125 45.699219 0 17.289062 23.890625 48.992188 42.304687 68.957031 15.691407-17.089843 42.324219-50.035156 42.324219-68.957031 0-25.195312-18.984375-45.699219-42.316406-45.699219zm0 0" />
    <path
      d="m465.453125 440.066406h-33.851563c-4.667968 0-8.460937-3.78125-8.460937-8.464844v-33.847656c0-4.683594 3.792969-8.464844 8.460937-8.464844h33.851563c4.671875 0 8.464844 3.78125 8.464844 8.464844v33.847656c0 4.683594-3.792969 8.464844-8.464844 8.464844zm-25.386719-16.925781h16.925782v-16.925781h-16.925782zm0 0" />
    <path
      d="m59.238281 152.332031c-2.257812 0-4.425781-.898437-6.015625-2.515625-5.449218-5.5-53.222656-54.738281-53.222656-87.191406 0-34.535156 26.574219-62.625 59.238281-62.625 32.667969 0 59.242188 28.089844 59.242188 62.625 0 32.453125-47.773438 81.683594-53.222657 87.191406-1.59375 1.617188-3.757812 2.515625-6.019531 2.515625zm0-135.40625c-23.332031 0-42.3125 20.503907-42.3125 45.699219 0 17.289062 23.890625 48.992188 42.304688 68.953125 15.691406-17.085937 42.324219-50.03125 42.324219-68.953125 0-25.195312-18.984376-45.699219-42.316407-45.699219zm0 0" />
    <path
      d="m76.164062 84.628906h-33.851562c-4.667969 0-8.460938-3.785156-8.460938-8.464844v-33.851562c0-4.679688 3.792969-8.460938 8.460938-8.460938h33.851562c4.671876 0 8.464844 3.78125 8.464844 8.460938v33.851562c0 4.679688-3.792968 8.464844-8.464844 8.464844zm-25.386718-16.925781h16.925781v-16.925781h-16.925781zm0 0" />
    <path
      d="m397.753906 507.769531h-291.96875c-25.667968 0-46.546875-20.886719-46.546875-46.546875s20.878907-46.546875 46.546875-46.546875h203.105469c16.335937 0 29.621094-13.285156 29.621094-29.617187 0-16.332032-13.285157-29.621094-29.621094-29.621094h-262.34375c-25.667969 0-46.546875-20.886719-46.546875-46.546875 0-25.65625 20.878906-46.542969 46.546875-46.542969h418.90625c16.335937 0 29.621094-13.289062 29.621094-29.621094 0-16.332031-13.285157-29.617187-29.621094-29.617187h-308.890625c-25.667969 0-46.546875-20.886719-46.546875-46.546875s20.878906-46.546875 46.546875-46.546875h228.496094c16.332031 0 29.617187-13.285156 29.617187-29.617187 0-16.335938-13.285156-29.621094-29.617187-29.621094h-215.800782c-4.671874 0-8.464843-3.785156-8.464843-8.464844s3.792969-8.460938 8.464843-8.460938h215.800782c25.667968 0 46.542968 20.886719 46.542968 46.546876 0 25.65625-20.875 46.542968-46.542968 46.542968h-228.496094c-16.332031 0-29.621094 13.289063-29.621094 29.621094s13.289063 29.621094 29.621094 29.621094h308.890625c25.667969 0 46.546875 20.882812 46.546875 46.542968 0 25.660157-20.878906 46.546876-46.546875 46.546876h-418.90625c-16.335937 0-29.621094 13.285156-29.621094 29.617187 0 16.335937 13.285157 29.621094 29.621094 29.621094h262.34375c25.667969 0 46.546875 20.886719 46.546875 46.546875s-20.878906 46.542968-46.546875 46.542968h-203.105469c-16.332031 0-29.621094 13.289063-29.621094 29.621094 0 16.332032 13.289063 29.621094 29.621094 29.621094h291.96875c4.667969 0 8.460938 3.78125 8.460938 8.460938 0 4.679687-3.792969 8.464843-8.460938 8.464843zm0 0" />
    </svg>

    <svg *ngSwitchCase="iconEnum.TICK" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
    <path style="fill:#A5EB78;"
      d="M427.534,73.084l-224.51,224.51c-6.051,6.051-15.863,6.051-21.914,0l-96.645-96.645L8.099,277.313
	l145.785,145.785c10.127,10.127,23.862,15.816,38.183,15.816l0,0c14.32,0,28.057-5.69,38.182-15.816l273.65-273.65L427.534,73.084z" />
    <g style="opacity:0.1;">
      <path d="M478.646,124.196L189.754,413.087c-7.993,7.992-18.043,13.442-28.902,15.872c9.066,6.425,19.956,9.955,31.215,9.955l0,0
		c14.32,0,28.057-5.69,38.182-15.816l273.65-273.65L478.646,124.196z" />
    </g>
    <path d="M192.068,447.014c-16.587,0-32.182-6.459-43.912-18.189L2.372,283.04c-3.163-3.163-3.163-8.292,0-11.454l76.366-76.366
	c3.164-3.163,8.292-3.163,11.455,0l28.668,28.667c3.163,3.163,3.163,8.292,0,11.454c-3.165,3.163-8.293,3.162-11.455,0l-22.94-22.94
	l-64.911,64.911l140.058,140.058c8.669,8.669,20.195,13.443,32.456,13.443c12.26,0,23.785-4.775,32.456-13.443l186.951-186.952
	c3.163-3.163,8.291-3.164,11.455,0c3.163,3.163,3.163,8.292,0,11.454L235.979,428.826
	C224.248,440.555,208.653,447.014,192.068,447.014z" />
    <path d="M192.068,310.232c-6.303,0-12.228-2.454-16.684-6.911l-45.068-45.068c-3.163-3.163-3.163-8.292,0-11.454
	c3.164-3.163,8.292-3.163,11.455,0l45.068,45.068c1.396,1.396,3.254,2.165,5.229,2.165s3.833-0.769,5.23-2.166L421.806,67.357
	c3.164-3.163,8.292-3.163,11.455,0l76.366,76.366c1.518,1.518,2.372,3.579,2.372,5.727s-0.853,4.209-2.372,5.727l-63.787,63.787
	c-3.164,3.163-8.292,3.162-11.455,0c-3.163-3.163-3.163-8.292,0-11.454l58.061-58.06l-64.91-64.91L208.752,303.321
	C204.295,307.777,198.369,310.232,192.068,310.232z" />
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
  </svg>
  <svg *ngSwitchCase="iconEnum.X" xmlns="http://www.w3.org/2000/svg" height="365pt" viewBox="0 0 365.71733 365" width="365pt"><g fill="#f44336"><path d="m356.339844 296.347656-286.613282-286.613281c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503906-12.5 32.769532 0 45.25l286.613281 286.613282c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082032c12.523438-12.480468 12.523438-32.75.019532-45.25zm0 0"/><path d="m295.988281 9.734375-286.613281 286.613281c-12.5 12.5-12.5 32.769532 0 45.25l15.082031 15.082032c12.503907 12.5 32.769531 12.5 45.25 0l286.632813-286.59375c12.503906-12.5 12.503906-32.765626 0-45.246094l-15.082032-15.082032c-12.5-12.523437-32.765624-12.523437-45.269531-.023437zm0 0"/></g></svg>
</ng-container>
